




#description{
    resize: none;
   
}


.form-container{
   width: 50%;
   justify-content: space-around;
   flex-wrap: wrap;
   margin: 0 auto;
   padding: 1rem;
 
}

mat-form-field {
    width:50%;
    padding: 1rem;

}

.checkbox{
    margin-left: 7rem;
}

.title-h2{
   text-align: center;
   font-size: 1.8rem;
   font-weight: 500;
}




.example-button-row {
  display: table-cell;
  max-width: 600px;
}

/* =======================================MEDIAS QUERIES======================================= */
@media screen and (max-width: 1200px) {
    .form-container{
      width:70%;
    }
  
  }
  

  @media screen and (max-width: 860px) {
    .form-container{
      width:90%;
    }
  
  }