
:host {
  display:block;
  text-align: center;
  min-width:1000px;
  /* border:solid 1px red; */
}

#description{
    resize: none;
   
}

form{
  width:100%;
  height: 50vh;
  /* border:1px solid blue; */
 
}

.form-group{
  display: flex;
 


}

.form-group-element{
  flex-grow: 1;
  margin: 1rem;

}

/* .error-space{
  height: 20px;
}
.mat-form-field + .mat-form-field .mat-form-field {
  top: 30px;
}
.mat-form-field + .mat-form-field .mat-form-field-wrapper {
  margin-top: 24px;
} */



/* 
.form-container{
   width: 100%;
   justify-content: space-around;
   flex-wrap: wrap;
   margin: 0 auto;
   padding: 1rem;
 
} */


mat-form-field {
    /* width:100%; */
    width: 300px;
    padding: 1rem;

}

.checkbox{
    margin-right: 14rem;
}

.title-h2{
   text-align: center;
   font-size: 1.8rem;
   font-weight: 500;
}





.example-button-row {
  display: table-cell;
  max-width: 600px;
}

.image{
  width: 150px;
  margin-left: 2rem;

}



/* =======================================MEDIAS QUERIES======================================= */
@media screen and (max-width: 1200px) {
    /* .form-container{
      width:70%;
    } */

    form{
      width:70%;
    }
  
  }
@media screen and (max-width: 960px) {
    /* .form-container{
      width:70%;
    } */

    form{
      width:50%;
    }
  
  }
  

  @media screen and (max-width: 860px) {
    mat-form-field{
      width:100%;
    }
    form{
      width:50%;
    }
  
  }
 