<h2 class="title-h2">Formulaire Forfait</h2>
<div class="form-container">
  <form #forfaitFormAjout="ngForm">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Nom du forfait</mat-label>
        <input type="text" matInput [(ngModel)]="newForfait.nom" #nom="ngModel" name="nom" value="nom"
          placeholder="Nom du forfait" minlength="2" maxlength="50" required>
      </mat-form-field>
      <mat-error *ngIf="nom.invalid && (nom.dirty || nom.touched) && nom.hasError('required')">
        Le nom est obligatoire.
      </mat-error>
      <mat-error *ngIf="nom.invalid && (nom.dirty || nom.touched) && nom.hasError('minlength')">
        Le nom doit contenir au moins 2 caractères.
      </mat-error>
      <mat-error *ngIf="nom.invalid && (nom.dirty || nom.touched) && nom.hasError('maxlength')">
        Le nom doit contenir au maximum 50 caractères.
      </mat-error>

      <mat-form-field appearance="fill">
        <mat-label>Description du forfait</mat-label>
        <input type="text" matInput [(ngModel)]="newForfait.description" #description="ngModel" name="description" value="description"
          placeholder="Description du forfait" minlength="2" maxlength="50" required>
      </mat-form-field>
      <mat-error *ngIf="description.invalid && (description.dirty || description.touched) && description.hasError('required')">
        La description est obligatoire.
      </mat-error>
      <mat-error *ngIf="description.invalid && (description.dirty || description.touched) && description.hasError('minlength')">
        La description doit contenir au moins 2 caractères.
      </mat-error>
      <mat-error *ngIf="description.invalid && (description.dirty || description.touched) && description.hasError('maxlength')">
        La description doit contenir au maximum 50 caractères.
      </mat-error>

      <mat-form-field appearance="fill">
        <mat-label>Code du forfait</mat-label>
        <input type="text" matInput [(ngModel)]="newForfait.code" #code="ngModel" name="code" value="code"
          placeholder="Code du forfait" minlength="2" maxlength="5" required>
      </mat-form-field>
      <mat-error *ngIf="code.invalid && (code.dirty || code.touched) && code.hasError('required')">
        Le code est obligatoire.
      </mat-error>
      <mat-error *ngIf="code.invalid && (code.dirty || code.touched) && code.hasError('minlength')">
        Le code doit contenir au moins 2 caractères.
      </mat-error>
      <mat-error *ngIf="code.invalid && (code.dirty || code.touched) && code.hasError('maxlength')">
        Le code doit contenir au maximum 5 caractères.
      </mat-error>

      <mat-form-field appearance="fill">
        <mat-label>ImageUrl</mat-label>
        <input type="text" matInput [(ngModel)]="newForfait.imageUrl" #imageUrl="ngModel" name="imageUrl" value="imageUrl"
          placeholder="ImageUrl" minlength="5" maxlength="255" required>
          <img class="image" [src]="newForfait.imageUrl" alt="">
             <!-- <img class="image" src="../../assets/img/img-yoga300.jpg" alt="Image"> -->
      </mat-form-field>
      <mat-error *ngIf="imageUrl.invalid && (imageUrl.dirty || imageUrl.touched) && imageUrl.hasError('required')">
        Le champ de l'image est obligatoire.
      </mat-error>
      <mat-error *ngIf="imageUrl.invalid && (imageUrl.dirty || imageUrl.touched) && imageUrl.hasError('minlength')">
        Le champ de l'image url doit contenir au moins 5 caractères.
      </mat-error>
      <mat-error *ngIf="imageUrl.invalid && (imageUrl.dirty || imageUrl.touched) && imageUrl.hasError('maxlength')">
        Le champ doit contenir au maximum 255 caractères.
      </mat-error>
           
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Nom de l'établissement</mat-label>
        <input type="text" matInput [(ngModel)]="newForfait.etablissement.nomEtablissement" #nomEtablissement="ngModel" name="nomEtablissement" value="nomEtablissement"
          placeholder="Nom de l'établissement" minlength="2" maxlength="50" required>
      </mat-form-field>

      <mat-error *ngIf="nomEtablissement.invalid && (nomEtablissement.dirty || nomEtablissement.touched) && nomEtablissement.hasError('required')">
        Le nom de l'établissement est obligatoire.
      </mat-error>
      <mat-error *ngIf="nomEtablissement.invalid && (nomEtablissement.dirty || nomEtablissement.touched) && nomEtablissement.hasError('minlength')">
        Le nom de l'établisssement doit contenir au moins 2 caractères.
      </mat-error>
      <mat-error *ngIf="nomEtablissement.invalid && (nomEtablissement.dirty || nomEtablissement.touched) && nomEtablissement.hasError('maxlength')">
        Le nom de l'établisssement doit contenir au maximum 50 caractères.
      </mat-error>

      <mat-form-field appearance="fill">
        <mat-label>Adresse de l'établissement</mat-label>
        <input type="text" matInput [(ngModel)]="newForfait.etablissement.coordonnees.adresse" #adresse="ngModel" name="adresse" value="adresse"
          placeholder="Adresse de l'établissement" minlength="2" maxlength="50" required>
      </mat-form-field>

      <mat-error *ngIf="adresse.invalid && (adresse.dirty || adresse.touched) && adresse.hasError('required')">
        L'adresse de l'établissement est obligatoire.
      </mat-error>
      <mat-error *ngIf="adresse.invalid && (adresse.dirty || adresse.touched) && adresse.hasError('minlength')">
        L'adresse de l'établissement doit contenir au moins 2 caractères.
      </mat-error>
      <mat-error *ngIf="adresse.invalid && (adresse.dirty || adresse.touched) && adresse.hasError('maxlength')">
        L'adresse de l'établissement doit contenir au maximum 50 caractères.
      </mat-error>
     
    </div>
    <div>

      <mat-form-field appearance="fill">
        <mat-label>Ville de l'établissement</mat-label>
        <input type="text" matInput [(ngModel)]="newForfait.etablissement.coordonnees.ville" #ville="ngModel" name="ville" value="ville"
          placeholder="Ville de l'établissement" minlength="2" maxlength="50" required>
      </mat-form-field>

      <mat-error *ngIf="ville.invalid && (ville.dirty ||ville.touched) && ville.hasError('required')">
        La ville de l'établissement est obligatoire.
      </mat-error>
      <mat-error *ngIf="ville.invalid && (ville.dirty || ville.touched) && ville.hasError('minlength')">
        La ville de l'établissement doit contenir au moins 2 caractères.
      </mat-error>
      <mat-error *ngIf="ville.invalid && (ville.dirty || ville.touched) && ville.hasError('maxlength')">
        La ville de l'établissement doit contenir au maximum 50 caractères.
      </mat-error>

      <mat-form-field appearance="fill">
        <mat-label>Téléphone</mat-label>
        <span matPrefix>+1 &nbsp;</span>
        <input type="tel" matInput [(ngModel)]="newForfait.etablissement.coordonnees.telephone" #telephone="ngModel" name="telephone" value="telephone"
          placeholder="555-555-1234" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" required minlength="12" maxlength="12" required>
          <mat-icon matSuffix>mode_edit</mat-icon>
      </mat-form-field>
      <mat-error *ngIf="telephone.invalid && (telephone.dirty ||telephone.touched) && telephone.hasError('required')">
        Le champ de téléphone de l'établissement est obligatoire.
      </mat-error>
      <mat-error *ngIf="telephone.invalid && (telephone.dirty || telephone.touched) && telephone.hasError('minlength')">
        Le champ de téléphone de l'établissement doit respecter ce format 555-555-1234 pour valider.
      </mat-error>
      <mat-error *ngIf="telephone.invalid && (telephone.dirty || telephone.touched) && telephone.hasError('maxlength')">
        Le champ de téléphone de l'établissement doit contenir au maximum 12 caractères.
      </mat-error>

          
    </div>
    <div>

      <mat-form-field appearance="fill">
        <mat-label>Courriel</mat-label>
         <input type="email" matInput [(ngModel)]="newForfait.etablissement.coordonnees.courriel" #courriel="ngModel" name="courriel" value="courriel"
          placeholder="jean@example.com"  required minlength="8" maxlength="50" required>
          <mat-icon matPrefix>mail</mat-icon>
      </mat-form-field>
      <mat-error *ngIf="courriel.invalid && (courriel.dirty ||courriel.touched) && courriel.hasError('required')">
        Le champ de courriel de l'établissement est obligatoire.
      </mat-error>
      <mat-error *ngIf="courriel.invalid && (courriel.dirty || courriel.touched) && courriel.hasError('minlength')">
        Le champ de courriel de l'établissement doit contenir au moins 8 caractères et respecter ce format "jean@example.com" pour valider.
      </mat-error>
      <mat-error *ngIf="courriel.invalid && (courriel.dirty || courriel.touched) && courriel.hasError('maxlength')">
        Le champ de courriel de l'établissement doit contenir au maximum 50 caractères et respecter le format jean@example.com.
      </mat-error>

      
      <mat-form-field appearance="fill">
        <mat-label>Site web</mat-label>
        <input type="text" matInput [(ngModel)]="newForfait.etablissement.coordonnees.siteWeb" #siteWeb="ngModel" name="siteWeb" value="siteWeb"
          placeholder="www.xxxx.com" minlength="8" maxlength="50" required>
      </mat-form-field>
      <mat-error *ngIf="siteWeb.invalid && (siteWeb.dirty || siteWeb.touched) && siteWeb.hasError('required')">
        Le site web de l'établissement est obligatoire.
      </mat-error>
      <mat-error *ngIf="siteWeb.invalid && (siteWeb.dirty || siteWeb.touched) && siteWeb.hasError('minlength')">
        Le site web de l'établissement doit contenir au moins 8 caractères et respecter ce format "www.xxxx.com" pour valider.
      </mat-error>
      <mat-error *ngIf="siteWeb.invalid && (siteWeb.dirty || siteWeb.touched) && siteWeb.hasError('maxlength')">
        Le site web de l'établissement doit contenir au maximum 50 caractères et respecter ce format "www.xxxx.com" pour valider.
      </mat-error>
    
    
    </div>
    <div>

 
    </div>

    <div class="checkbox">
      <mat-checkbox color="primary" class="example-margin" [(ngModel)]="newForfait.premium" name="premium">Premium
      </mat-checkbox>

    </div>

    <div>
    

      <mat-form-field  appearance="fill" floatLabel="always">
        <mat-label>Prix</mat-label>
        <input type="number" matInput placeholder="prix"  name="prix"
          [(ngModel)]="newForfait.prix" #prix="ngModel" min="1" max="5000" required>
          <!-- <span matTextPrefix>$&nbsp;</span> -->
        <!-- <span matTextSuffix>.00</span> -->
      </mat-form-field>
      <mat-error *ngIf="prix.invalid && (prix.dirty || prix.touched) && prix.hasError('required')">
        Le prix est obligatoire.
      </mat-error>
      <mat-error *ngIf="prix.invalid && (prix.dirty || prix.touched) && prix.hasError('min')">
        Le prix doit être supérieur ou égal à 1.
      </mat-error>
      <mat-error *ngIf="prix.invalid && (prix.dirty || prix.touched) && prix.hasError('max')">
        Le prix doit être inférieur ou égal à 5000.
      </mat-error>
      <mat-form-field  appearance="fill" floatLabel="always">
        <mat-label>Rabais</mat-label>
        <input type="number" matInput placeholder="rabais"  name="rabais"
          [(ngModel)]="newForfait.rabais" #rabais="ngModel" min="0" >
      </mat-form-field>
           
      <mat-form-field  appearance="fill" floatLabel="always">
        <mat-label>Nouveau prix</mat-label>
        <input type="number" matInput placeholder="nouveauPrix"  name="nouveauPrix"
          [(ngModel)]="newForfait.nouveauPrix" #nouveauPrix="ngModel" min="1" max="5000" required>
      </mat-form-field>
      <mat-error *ngIf="nouveauPrix.invalid && (nouveauPrix.dirty || nouveauPrix.touched) && nouveauPrix.hasError('required')">
        Le nouveau prix est obligatoire.
      </mat-error>
      <mat-error *ngIf="nouveauPrix.invalid && (nouveauPrix.dirty || nouveauPrix.touched) && nouveauPrix.hasError('min')">
        Le nouveau prix doit être supérieur ou égal à 1.
      </mat-error>
      <mat-error *ngIf="nouveauPrix.invalid && (nouveauPrix.dirty || nouveauPrix.touched) && nouveauPrix.hasError('max')">
        Le nouveau prix doit être inférieur ou égal à 5000.
      </mat-error>

      <!-- <app-chips></app-chips> -->

    </div>

    <button mat-fab color="primary" aria-label="Ajouter" [disabled]="!forfaitFormAjout.form.valid"
      (click)="addForfait(forfaitFormAjout);">
      <mat-icon>add</mat-icon>
    </button>
  </form>



  <!-- <button mat-stroked-button color="primary" (click)="openSnackBar('L\ajout dans la base de données sera programmé après le congé des fêtes!', 'durée de 5 secondes')">
      Ajouter
    </button> -->
  <!-- <button mat-stroked-button color="primary" (click)="openCustomSnackBar()">Ajouter</button> -->


</div>

<!-- {{recherche.nom}}, {{recherche.dateDebut}}, {{recherche.dateFin}} -->
