

<!-- <div class="recherche">

  <mat-form-field appearence="outline">
    <mat-label>Rechercher un forfait</mat-label>
    <input type="text" matInput [ngModel]="" placeholder="Rechercher un forfait">
    <mat-icon class="searche-icon">search</mat-icon>
  </mat-form-field>
  <button mat-icon-button class="btn-search" color="primary">Rechercher</button>
  
</div> -->


<!-- <h2 class="affichage"> Affichage - Composant enfant</h2> -->
<p class="affichage">
    {{recherche.nom}} ,  {{recherche.dateDebut}} , {{recherche.dateFin}}

</p>


    <mat-form-field appearance="outline" class="container">
           <mat-label>Nom</mat-label>  <mat-icon class="searche-icon">search</mat-icon>
        <input [ngModel]="recherche.nom" matInput (ngModelChange)="changeNom($event)" placeholder="Nom" maxlength="25" required>
      </mat-form-field>
    <mat-form-field appearance="outline" class="container">
           <mat-label>Date de début</mat-label> <mat-icon class="searche-icon">search</mat-icon>
        <input [ngModel]="recherche.dateDebut" matInput (ngModelChange)="changeDateDebut($event)" placeholder="Date de début" maxlength="25" required>
      </mat-form-field>
    <mat-form-field appearance="outline" class="container">
           <mat-label>Date de fin</mat-label>   <mat-icon class="searche-icon">search</mat-icon>
        <input [ngModel]="recherche.dateFin" matInput (ngModelChange)="changeDateFin($event)" placeholder="Date de fin" maxlength="25" required>
      </mat-form-field>

      <button mat-icon-button class="btn-search" color="primary">Recherche</button>
  





    



