
<form>
  <mat-form-field class="example-chip-list" appearance="fill">
    <mat-label>Catégories</mat-label>
    <mat-chip-list #chipGrid aria-label="Catégorie selectionnée">
      <mat-chip *ngFor="let categorie of categories" (removed)="remove(categorie)">
        {{categorie}}
        <button matChipRemove [attr.aria-label]="'remove ' + categorie">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
    </mat-chip-list>
    <input placeholder="Nouvelle catégorie..." #categorieInput [formControl]="categorieCtrl"
      [matChipInputFor]="chipGrid" [matAutocomplete]="auto"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)"/>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
      <mat-option *ngFor="let categorie of filteredCategories | async" [value]="categorie">
        {{categorie}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>