.example-spacer {
    flex: 1 1 auto;
  }

  .container{
    display: flex;
    flex-wrap: wrap;
    max-width:1200px;
    width:100%;
    justify-content:space-around;
    /* width: 100%; */
    /* background-color: #f7f7f7; */
 
    margin: 0.5rem 0.5rem;
    /* margin: .5rem .5rem; */
    background-color: rgb(182, 214, 214);
   


 
}


mat-card{
  background-color: #f7f7f7;
  margin-left: 0.5rem;
  color: #333;


}


.barre{
  text-decoration: line-through;
  color: red;

}

.nouveau-prix{
  color: #333;
  font-weight: bold;
  margin-top: .6rem;
  font-size: 1.1rem;

}

.save{
  /* background-color: teal; */
  /* width: 80px;
  height: 20px; */
  /* padding: 0.3rem; */
  font-size: .9rem;
  color:#333;
 
  
}


.premium{
  display: flex;
  flex-wrap: wrap;
  max-width:1200px;
  width:25%;
  justify-content:space-around;
  

  margin: 0.5rem 0.5rem;
  /* margin: .5rem .5rem; */
  background-color: rgb(182, 214, 214);
 

}