.example-spacer {
    flex: 1 1 auto;
  }

  .container{
  
    display: flex;
    flex-wrap: wrap;
    max-width:1200px;
    width:90%;
    justify-content:space-around;
    /* width: 100%; */
    /* background-color: #f7f7f7; */
 
    margin: 0.5rem 1.6rem;
    /* margin: .5rem .5rem; */
    background-color: rgb(182, 214, 214);
    
}

.title-h1{
  margin: 0 1rem;
  font-size: 1.8rem;
  font-weight: 500;

}


mat-card{
  background-color: #f7f7f7;
  margin-left: 0.5rem;
  color: #333;
  

}


.barre{
  text-decoration: line-through;
  color: red;

}

.nouveau-prix{
  color: #333;
  font-weight: bold;
  margin-top: .6rem;
  font-size: 1rem;

}

.save{
  /* background-color: teal; */
  /* width: 80px;
  height: 20px; */
  /* padding: 0.3rem; */
  font-size: .9rem;
  color:#333;
 
  
}


.premium{
  display: inline-block;
  flex-wrap: wrap;
  /* flex-direction:row; */
  max-width:1200px;
  /* width:20%; */
  justify-content:space-around;
  /* padding: .5rem; */
  margin: 0 1rem;
  /* margin: .5rem .5rem; */
  /* background-color: rgb(182, 214, 214); */
  background-color: rgb(242, 249, 250);




}
