
<h1 class="title-h1">
  Liste des forfaits
</h1>

<hr>
<!-- Affichage des forfaits premium -->
<h2 class="title-h2">Liste des mini-forfaits premium</h2>
<div class="premium" *ngFor="let f of forfaits">
  <p *ngIf="f.premium">
    <app-mini-forfait [forfait]="f"> </app-mini-forfait>
    <!-- <app-prix [forfait]="f"></app-prix> -->
  </p>

</div>



<br><br>
<hr>
<!-- Affichage de tous les forfaits complets -->
<h2 class="title-h2">Liste des forfaits complets contenant toutes les informations  </h2>
<div class="container" *ngFor="let f of forfaits">

  <p>
    <app-forfait-complet [forfait]="f"></app-forfait-complet>
    <!-- <app-prix [forfait]="f"></app-prix> -->
  
  </p>
  <div class="rating-style" *ngIf="f.rating > 0">
    <app-star-rating [forfait]="f"> </app-star-rating>
    <!-- <app-formulaire-avis></app-formulaire-avis> -->
   </div>
</div>



<br><br>
<hr>

<!-- <app-formulaire-avis></app-formulaire-avis> -->


<!-- <hr> -->


<!-- <app-formulaire-contact></app-formulaire-contact> -->

<h3 class="title-h2">Liste des forfaits premium avec pipe personnalisée</h3>
<div *ngFor="let forfait of forfaits | premium">

  <app-forfait-complet [forfait]="forfait"></app-forfait-complet>

</div>

<!-- <h3 class="title-h2">Liste des forfaits avec pipe personnalisée pour un établissement précis </h3>
<div *ngFor="let forfait of forfaits | etablissement" >
  <app-forfait-complet [forfait]="forfait"></app-forfait-complet>

</div> -->


<app-recherche></app-recherche>
<app-formulaire-forfait></app-formulaire-forfait>

<app-chips></app-chips>

<!-- <br><br>
{{'Date du jour:' + getDate() | date:'dd MMMM yyyy'  }} -->





<br>
@jos

