.example-spacer {
    flex: 1 1 auto;
  }

  .container{
    display: flex;
    flex-wrap: wrap;
    max-width:1200px;
    width:100%;
    justify-content:space-around;
    /* width: 100%; */
    /* background-color: #f7f7f7; */
 
    margin: 0.5rem 0.5rem;
    /* margin: .5rem .5rem; */
    background-color: rgb(182, 214, 214);


 
}


mat-card{
  background-color: #f7f7f7;
  margin-left: 0.5rem;
  color: #333;


}

