<div class="forfait-container">

  <!-- <div class="miniforfait-card">
    <mat-card-header>
      <h2>Mini forfait</h2>

    </mat-card-header>
    <mat-card>
      <mat-card-title>
        <app-mini-forfait [nom]="forfait?.nom"></app-mini-forfait>
      </mat-card-title>

      <mat-card-content>
        <app-mini-forfait [etablissement]="forfait?.etablissement?.nomEtablissement"></app-mini-forfait>
      </mat-card-content>

      <mat-card-content>
        <app-mini-forfait [dateDebut]="forfait?.dateDebut"></app-mini-forfait>
      </mat-card-content>

      <mat-card-content>
        <app-mini-forfait [dateFin]="forfait?.dateFin"></app-mini-forfait>
      </mat-card-content>

      <mat-card-content>
        <app-mini-forfait [prix]="forfait?.prix"></app-mini-forfait>
      </mat-card-content>

     
    </mat-card>

  </div> -->


  <div class="forfait">
    <mat-card-header>
      <h2>Forfait</h2>
    </mat-card-header>

   
    
    <mat-card>
      <mat-card-title>  <img [src]="forfait?.imageUrl" [title]="forfait?.description" [alt]="forfait?.nom"> <mat-divider></mat-divider></mat-card-title>

      <mat-card-title> {{forfait?.nom}} <mat-divider></mat-divider>
      </mat-card-title>
      <mat-card-content> {{forfait?.description}} <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-content> {{forfait?.code | uppercase}}</mat-card-content>
      <mat-card-content> {{forfait?.categories}} <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-content> {{forfait?.etablissement?.nomEtablissement}} <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-content> {{forfait?.etablissement?.coordonnees?.adresse}} <mat-divider></mat-divider></mat-card-content>
      <mat-card-content> {{forfait?.etablissement?.coordonnees?.ville}} <mat-divider></mat-divider></mat-card-content>
      <mat-card-content> {{forfait?.etablissement?.coordonnees?.telephone}} <mat-divider></mat-divider></mat-card-content>
      <mat-card-content> {{forfait?.etablissement?.coordonnees?.courriel}} <mat-divider></mat-divider></mat-card-content>
      <mat-card-content> {{forfait?.etablissement?.coordonnees?.siteWeb}} <mat-divider></mat-divider></mat-card-content>
      <mat-card-content> From :  {{forfait?.dateDebut}} <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-content> To   :  {{forfait?.dateFin}} <mat-divider></mat-divider>
      </mat-card-content>
      <!-- <mat-card-content> {{forfait?.prix | currency:'CAD':'symbol': '3.2-2' : 'fr'}}  <mat-divider></mat-divider>
      </mat-card-content> -->


      <div *ngIf="forfait!.nouveauPrix > 0">
        <mat-card-content>
            <div class="nouveau-prix"> {{forfait?.nouveauPrix | currency:'CAD':'symbol': '2.2-2' : 'fr'}} </div>
            <mat-divider></mat-divider>
            <div class="barre">{{forfait?.prix | currency:'CAD':'symbol': '2.2-2' : 'fr'}}</div>
         
          <mat-divider></mat-divider>
          <div> Save: {{ forfait!.prix - forfait!.nouveauPrix }}$</div>
          <mat-divider></mat-divider>
        </mat-card-content>
      </div>
  

      <!-- <mat-card-content> {{forfait?.nouveauPrix}} $CAD </mat-card-content> -->


      <mat-card-content *ngFor="let a of forfait?.avis">
        <div>{{a.note}}</div>
        <mat-divider></mat-divider>
        <div>{{a.commentaires}}</div>
        <mat-divider></mat-divider>
      </mat-card-content>


    </mat-card>

  </div>


</div>



<!-- <mat-list> {{forfait?.nom}} <mat-divider></mat-divider>
</mat-list>
<mat-list-item> {{forfait?.description}} <mat-divider></mat-divider>
</mat-list-item>
<mat-list-item> {{forfait?.code | uppercase}}</mat-list-item>
<mat-list-item> {{forfait?.categories}} <mat-divider></mat-divider>
</mat-list-item>
<mat-list-item> {{forfait?.etablissement?.nomEtablissement}} <mat-divider></mat-divider>
</mat-list-item>
<mat-list-item> {{forfait?.etablissement?.coordonnees}} <mat-divider></mat-divider>
</mat-list-item>
<mat-list-item> {{forfait?.dateDebut}} <mat-divider></mat-divider>
</mat-list-item>
<mat-list-item> {{forfait?.dateFin}} <mat-divider></mat-divider>
</mat-list-item>
<mat-list-item> {{forfait?.prix}} $CAD <mat-divider></mat-divider>
</mat-list-item>
<mat-list-item *ngFor="let a of forfait?.avis">
  <div>{{a.note}}</div>
  <mat-divider></mat-divider>
  <div>{{a.commentaires}}</div>
  <mat-divider></mat-divider>
</mat-list-item> -->
