


<mat-toolbar color="primary">
    
    <mat-icon>apps</mat-icon>
    {{ title }}
    <!-- <span>app-forfaits-saintus-jean-oldor</span> -->
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>




<br><br>
<!-- <span> Mise en ligne le {{ 'Date du jour:' + getDate() | date:'dd MMMM yyyy à HH:mm'  }}</span> -->
<span> Mise en ligne le {{ 'Date du jour:' + getDate() | date:'dd/MM/yyyy à '}}</span> <span>{{time}}</span>


<!-- ======================================================================= -->
<!-- ======================================================================= -->



<ul class="navigation">
    <li [routerLinkActive]="'active'" [routerLinkActiveOptions]="{exact: true}"> <a routerLink="/liste-de-tous-les-forfaits">Accueil</a></li>
    <li [routerLinkActive]="'active'"> <a routerLink="/etablissement">Établissement</a></li>
    <li [routerLinkActive]="'active'"> <a routerLink="/categorie">Catégorie</a></li>
    <li [routerLinkActive]="'active'"> <a routerLink="/gestion-forfaits"> Gestion des forfaits</a></li>
    <li [routerLinkActive]="'active'"> <a routerLink="/a-propos"> A propos</a></li>
  
</ul>
