.navigation{
    display: flex;
    list-style-type: none;
    justify-content: right;
    flex-wrap: wrap;
   
}

li{
  margin: 1rem;
  padding: 1rem;

}

.navigation a{
   text-decoration: none;
  color: teal;
  font-size: 1.1rem;
  margin: 1rem;
  padding: 1rem;
}

.navigation a:hover{
  background-color: #F7F7F7;
  margin: 1rem;
  padding: 1rem;

}


.mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  
  .example-spacer {
    flex: 1 1 auto;
  }

  .active{
    background-color: #F7F7F7;
    margin: 1rem;
    padding: 1rem;

  }
 