<div>
    <mat-card>
         
        <div *ngIf="forfait!.nouveauPrix > 0">
          <mat-card-content>
            
            <div class="nouveau-prix"> {{forfait?.nouveauPrix | currency:'CAD':'symbol': '2.2-2' : 'fr'}} </div>
            
            
            <mat-divider></mat-divider>
            <div class="barre">{{forfait?.prix | currency:'CAD':'symbol': '2.2-2' : 'fr'}}</div>
  
            <mat-divider></mat-divider>
            <div *ngIf="forfait!.prix >= forfait!.nouveauPrix">
              <div> Save: {{ forfait!.prix - forfait!.nouveauPrix }}$</div>
            </div>
            <mat-divider></mat-divider>
          </mat-card-content>
        </div>
  
  
      </mat-card>

</div>



