.barre{
    text-decoration: line-through;
    color: red;
  
  }
  
  .nouveau-prix{
    color: #333;
    font-weight: bold;
    margin-top: .6rem;
    font-size: 1rem;
    font-weight: bold;
    background-color: #f0f8ff;
  
  }
  
  .save{
    font-size: .9rem;
    color:#333;
   
    
  }