<h1>Page en cours de traitement...</h1>
<mat-card class="para">App-forfait est est application web qui offre des services de forfaits de toutes sortes pour satisfaire le besoin de sa clientèle.<br>
  Elle est developpée en framework Angular open-source d'une application monopage à l'aide de TypeScript et de HTML et aussi un ensemble des composants d'Angular materials. <br>
  Elle a été developpée dans le cadre d'un projet de AEC en développement web Front-End - Cégep de Trois-Rivières, proposée par Carine Croteau.
  
</mat-card>


 
