<!-- <h1>Page en cours de traitement...</h1> -->
<div class="page">
  <mat-card class="card">
    <mat-card-title>Nom :<span class="style-apropos-titre">{{ appName }}</span></mat-card-title><br>
    <mat-card-subtitle>Version :<span class="style-apropos">{{ appVersion }}</span></mat-card-subtitle> <br>
    <mat-card-content>Auteur :<span class="style-apropos">{{ appAuthor }}</span></mat-card-content>
  </mat-card>
  <div class="wrapper">
    <br>

    <div class="content">
      <h2>À propos de forfaits </h2>

      <mat-card-content>App-forfait est est application web qui offre des services de forfaits de toutes sortes pour
        satisfaire le besoin de sa clientèle. <br>
        Elle est developpée en framework Angular open-source utilisant un modèle de programmation orienté composant pour
        structurer le code et faciliter d'une application monopage coté client à l'aide de TypeScript et de HTML et
        aussi
        un
        ensemble des composants d'Angular materials qui est une librairie d'interface utilisateur basée sur Material
        Design
        de Google, qui fournit des composants prédéfinis pour donner à l'application une apparence professionnelle et
        moderne. <br>
        Angular et Material Angular nous permettent de créer des applications web performantes et élégantes en
        utilisants
        des composants réutilisables.
        Ca nous permet d'utiliser les fonctionnalités avancées d'angular comme la liaison de données, la validation de
        formulaire, et tant d'autres encore.
        Cette application a été developpée dans le cadre d'un projet de AEC en développement web Front-End - Cégep de
        Trois-Rivières, proposée par Carine Croteau.
      </mat-card-content>

      <br><br>



      <mat-card-content>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum tempora dolor exercitationem, nostrum sed, quia
        veritatis quo eveniet aut reiciendis commodi aliquid minima culpa natus. Nemo velit asperiores iusto delectus
        perferendis recusandae nisi alias nam ad facere ipsam in aut, voluptatibus ratione ipsa. Saepe fugiat ut dolores
        recusandae dignissimos quibusdam, optio asperiores accusamus maxime velit animi vitae nisi quis enim quidem eius
        cupiditate quo laborum nesciunt facere est, sed doloribus nemo iure. Animi vero id dolores iure, laborum labore
        consequatur aut saepe nam, dignissimos officiis optio repellendus vitae alias facilis quo. Quis molestias illo
        dolor
        molestiae quisquam. Accusantium, atque odit dolor doloribus minus, fugit sint illum ea qui deleniti, earum
        distinctio sunt repudiandae cupiditate tempore vel culpa iste ipsa animi? Tempora illo labore nemo voluptate quo
        dicta sequi, pariatur delectus expedita praesentium ullam reprehenderit maxime ut, nobis optio. Mollitia,
        veritatis.
        Ullam illo ipsam autem commodi minima adipisci dolor vitae aliquid expedita similique ex labore laborum velit
        praesentium, atque voluptatem esse facilis optio incidunt repudiandae! At nisi laborum praesentium unde
        voluptatibus
        dicta sunt voluptatum quae tempore sit doloremque officia, tenetur ipsum. Iure corrupti repellendus, sit dolorum
        voluptatum explicabo itaque esse debitis ad nobis aspernatur aliquid natus voluptate delectus perspiciatis eum
        nisi,
        molestias obcaecati autem ea incidunt impedit inventore. Quos impedit, eum nobis repudiandae tenetur accusantium
        adipisci at consequatur qui maiores error animi dignissimos deleniti doloremque iste assumenda! Ea, inventore
        fugiat, fuga iste eos esse quo veritatis minima odit, vitae quibusdam corrupti quos totam. Numquam nisi eaque
        ipsam
        tenetur, voluptates dolores beatae odit! Blanditiis inventore ut corrupti quod quidem eius doloremque quaerat
        quisquam iusto aspernatur, omnis animi ratione, est odit dolores a rem autem assumenda repellat earum. Eum
        tempore
        dicta accusamus vel nulla nisi doloribus saepe natus minima omnis fuga blanditiis, maiores aspernatur numquam
        accusantium explicabo adipisci error perferendis iure. Similique maiores magnam veritatis quasi. Corrupti
        doloribus
        ea nisi corporis id eaque sapiente, soluta quaerat atque? Odit facilis cumque ut officiis, obcaecati
        consequuntur.
        At reprehenderit doloremque quibusdam, odio debitis sequi ab vero, dolorum tempore ullam dolor fugit ducimus
        officia
        dolorem natus, quaerat saepe praesentium. Sit eius quasi, quaerat consequatur fugit illo nesciunt doloribus
        ipsam
        minus eos quia perferendis provident neque ratione ipsa necessitatibus porro nemo facilis natus voluptatibus eum
        dolorum. Neque incidunt esse iste nesciunt hic totam distinctio aliquam quis officiis ea? Nisi, blanditiis
        fugiat.
        Ab dolorum aperiam fuga. Quo fugiat voluptatum facilis totam velit nulla provident eligendi et necessitatibus
        cupiditate? Esse magnam error voluptates quis unde quae excepturi animi voluptatum quisquam ullam dolore
        pariatur
        numquam repudiandae illum voluptate ut nihil eos consequuntur est voluptas laborum, eligendi enim explicabo
        aspernatur! Accusantium magnam dignissimos omnis? Ullam, aliquid nam beatae reprehenderit amet neque molestiae
        vel
        repudiandae veniam quos veritatis, unde fuga earum. Quidem beatae pariatur ex in recusandae, dicta odio fuga
        perferendis ipsum sequi error enim nemo provident ipsam quas at rem quod sapiente. Temporibus vitae, aliquid
        odit
        rerum mollitia, magnam dolorum repellat ab a consectetur amet veniam omnis, id doloribus ipsum iure alias sequi
        dolor quasi modi corrupti veritatis impedit et. Itaque veniam temporibus incidunt. Quisquam nulla ex id vero
        laborum
        quae, modi enim deserunt deleniti pariatur ullam libero perspiciatis molestias ipsum, architecto iste ea fuga
        placeat alias, qui doloremque doloribus sequi? Consequatur necessitatibus voluptatem, nemo itaque voluptate
        nobis,
        amet illo exercitationem aut ut eveniet totam ad magnam debitis dolorem corporis alias assumenda eius porro.
        Omnis
        quasi cumque nesciunt. Iusto sed dolores corrupti corporis aliquid. Error at facilis itaque iste accusamus
        recusandae quae. Dolorem corrupti nostrum consequatur, soluta laudantium quo deleniti natus quae provident
        repellat
        sed omnis tenetur placeat adipisci aliquid iure ad dolore in, vel eum. Eius mollitia, aut unde excepturi minus
        dolorem voluptatibus facere iste provident porro beatae magni perferendis repudiandae dolorum a nihil molestiae
        natus illo fugiat rem sapiente. Culpa dolorum aliquam iure exercitationem reprehenderit quisquam ab optio odio,
        minima perferendis libero laborum molestias tempora et maiores alias maxime saepe ipsam nobis praesentium soluta
        commodi tempore similique. Nam delectus nisi excepturi ducimus, expedita iste illo porro voluptatum eligendi
        molestias iure! Iusto nobis odit at eos voluptate totam id nostrum, itaque facilis voluptatibus officia ea
        eveniet
        ex aliquam exercitationem beatae! Similique reiciendis perspiciatis ea vitae officia sunt, eligendi sit, commodi
        cupiditate accusamus amet quisquam assumenda exercitationem eum tenetur. Aliquam nihil fugit corrupti ad,
        laudantium
        fuga impedit recusandae iste accusamus quisquam illo quae asperiores ex itaque mollitia veniam a, assumenda
        vitae
        dolorem. Natus illum obcaecati voluptatum a at in. Cupiditate dignissimos consectetur laudantium maiores
        inventore
        deleniti voluptate ipsa, sunt sint quam voluptatum soluta natus nostrum facere alias eaque voluptates excepturi
        illo, nulla nobis harum fugiat reprehenderit. Accusamus similique enim quam totam beatae delectus eius iste
        cupiditate suscipit eaque consequatur, dicta natus. Harum repellat, iusto saepe modi tenetur aliquid vel
        asperiores
        voluptatum eaque facilis neque illum, minima eum temporibus impedit odit, ullam odio ipsa nostrum quis hic.
        Repellendus rem laboriosam beatae fugit nulla illo sunt alias fuga nam possimus, quisquam architecto assumenda
        ipsam
        dolorum facere facilis sapiente. Explicabo dolores aliquid dolore doloremque rerum a laboriosam necessitatibus
        modi
        magni repellat, id aliquam! Molestiae accusantium, doloribus aliquid, laudantium praesentium eaque natus
        necessitatibus aut pariatur assumenda fugit repellendus cumque sed. Error quisquam unde dignissimos aliquid odit
        recusandae, distinctio officiis deserunt ipsa itaque fugiat maiores nihil. Nulla porro pariatur tempora quas,
        quisquam sit, qui accusamus, at ipsa sunt nesciunt. Enim in repellat dolores inventore! Eligendi vitae
        architecto
        quaerat error, ratione, inventore accusantium asperiores nisi harum rem molestias hic. Consequatur, voluptates
        impedit. Quos laborum sapiente provident. Quisquam deserunt non quae impedit hic sint animi eaque unde! Omnis ea
        aut
        vero quisquam eveniet ad rem qui voluptatibus ducimus assumenda incidunt dolorum nemo quae sunt earum voluptate
        molestias consectetur, beatae optio nesciunt? Architecto neque nulla laudantium sapiente quod voluptas eveniet
        minima accusamus sunt? Velit, optio sint! Quisquam, ex. Nobis accusamus, molestiae quidem illo quo nesciunt hic
        ducimus, delectus itaque quaerat adipisci quas maxime accusantium rem quod sit doloremque repudiandae aspernatur
        sequi iusto dignissimos ratione ea ipsa. Ratione minus voluptatem fugiat voluptas incidunt quia velit aliquid
        nobis,
        numquam, natus nam, tempore suscipit ut quae enim voluptatibus quisquam error rem accusantium eveniet!

      </mat-card-content>
    </div>
  </div>
</div>
