<!-- ============================Affichage de tous les champs demandés dans mini-forfait======================================== -->

<div class="miniforfait-card">

  <mat-card-header>
    <h2>Mini Forfait </h2>
  </mat-card-header>


  <div class="mini">
    <mat-card>
      <mat-card-title> <img [src]="forfait?.imageUrl" [title]="forfait?.description | uppercase" [alt]="forfait?.nom">
        <mat-divider></mat-divider>
      </mat-card-title>

      <mat-card-title>
        {{forfait?.nom}} <mat-divider></mat-divider>
      </mat-card-title>

      <mat-card-content>
        {{forfait?.etablissement?.nomEtablissement | uppercase}} <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-content>
        Début : {{forfait?.dateDebut}} <mat-divider></mat-divider>
      </mat-card-content>
      <mat-card-content>
        Fin : {{forfait?.dateFin}} <mat-divider></mat-divider>
      </mat-card-content>
    </mat-card>
    
  <!-- Réutilisation du composant prix dans le composant forfait complet pour afficher les prix -->
    <app-prix [forfait]="forfait"></app-prix>
 
  </div>

</div>



<!-- ================================Sous forme de liste========================================================== -->

<!-- <mat-list> {{forfait?.nom}} <mat-divider></mat-divider>
</mat-list>
<mat-list-item> {{forfait?.etablissement?.nomEtablissement}} <mat-divider></mat-divider>
</mat-list-item>
<mat-list-item> {{forfait?.dateDebut}} <mat-divider></mat-divider>
</mat-list-item>
<mat-list-item> {{forfait?.dateFin}} <mat-divider></mat-divider>
</mat-list-item>
<mat-list-item> {{forfait?.prix}} $CAD <mat-divider></mat-divider>
</mat-list-item>
<app-prix [forfait]="forfait"></app-prix> -->
