

<!-- <div class="liste">

{{nom}}
{{etablissement}}
{{dateDebut}}
{{dateFin}}
{{prix}}



</div> -->




<div class="miniforfait-card">
    <mat-card-header>
      <h2>Mini Forfait </h2>
    </mat-card-header>

    <mat-card>
      <mat-card-title> {{forfait?.nom}} </mat-card-title>
      <mat-card-content> {{forfait?.etablissement?.nomEtablissement}} </mat-card-content>
      <!-- <mat-card-content> {{forfait?.code | uppercase}} </mat-card-content> -->
      <!-- <mat-card-content> {{forfait?.categories}} </mat-card-content>
      <mat-card-content> {{forfait?.etablissement?.nomEtablissement}} </mat-card-content> -->
      <!-- <mat-card-content> {{forfait?.etablissement?.coordonnees}} </mat-card-content> -->
      <mat-card-content> {{forfait?.dateDebut}} </mat-card-content>
      <mat-card-content> {{forfait?.dateFin}} </mat-card-content>
      <mat-card-content> {{forfait?.prix}} $CAD </mat-card-content>

      
    </mat-card>

  </div>