/* .example-card {
    max-width: 400px;
    margin-bottom: 8px;
  } */

/* 
  .liste{
    color: #333;
  } */



  /* .forfait-container{
    display: flex;
    flex-wrap: wrap;
  
    width: 100%;
    
    margin: .5rem .5rem;
    background-color: rgb(182, 214, 214);

 
} */


  .miniforfait-card {
   /* display:flex; */
   /* justify-content: space-between; */
   /* align-items: center; */
   max-width:100%;
  
   margin-top: 1.2rem;
   
    flex-wrap: wrap;
    /* color:crimson; */

    overflow: hidden;
   
  }


  .image{
    overflow:hidden;
    transition: 0.4s ease-in-out;
    cursor: pointer;
    width:100%;
  }



  .image:hover{
      transform: scale(1.02);
      box-shadow: 0 0 15px gray;

  }



  .mini{
    width:80%;
   
  }

 

  .barre{
    text-decoration: line-through;
    color: red;
  
  }

  /* .nouveau-prix{
    color: #333;
    font-weight: bold;
    margin-top: .6rem;
    font-size: 1rem;
  
  } */

 