
  /* .miniforfait-card {
   max-width:100%;
   margin-top: 1.2rem;
   margin: 1rem auto;
   display:flex;
   justify-content: space-between;
   
  } */

mat-card{
  width:500px;
 
}

  .image{
    overflow:hidden;
    transition: 0.4s ease-in-out;
    cursor: pointer;
    width:100%;
 
  }



  .image:hover{
      transform: scale(1.02);
      box-shadow: 0 0 15px gray;

  }


/* 
  .mini{
    width:25%;
       
  } */

 

  .barre{
    text-decoration: line-through;
    color: red;
  
  }

  /* .nouveau-prix{
    color: #333;
    font-weight: bold;
    margin-top: .6rem;
    font-size: 1rem;
  
  } */

/*  
  .mini{
    display: inline-block;
    flex-wrap: wrap;
    max-width:1200px;
    justify-content:space-around;
    margin: 0 1rem;
    color: teal;
    }
  
    .miniforfait-card{
      display: inline-block;
      flex-wrap: wrap;
      max-width:1200px;
      justify-content:space-around;
      margin: 0 1rem;
      color: teal;
    }
    

    .card{
      display: block;
    } */
