/* .example-card {
    max-width: 400px;
    margin-bottom: 8px;
  } */

/* 
  .liste{
    color: #333;
  } */



  /* .forfait-container{
    display: flex;
    flex-wrap: wrap;
  
    width: 100%;
    
    margin: .5rem .5rem;
    background-color: rgb(182, 214, 214);

 
} */


  .miniforfait-card {

    max-width:100%;
    width:100%;
  
    margin-top: 1.2rem;
   
    flex-wrap: wrap;
    color:crimson;
   
  }


  div> img{
    width:300px;
   
  
  }

  /* .mini{
    width:80%;
   
  } */

  .mini img{
    width:100%;
  }

  .barre{
    text-decoration: line-through;
    color: red;
  
  }

  /* .nouveau-prix{
    color: #333;
    font-weight: bold;
    margin-top: .6rem;
    font-size: 1rem;
  
  } */

  /* .propertiesStyle{
    color: #333;
    font-weight: bold;
    margin-top: .6rem;
    font-size: 1rem;
  } */