table {
    width: 100%;
    margin: 0 auto;


  }

  .mat-elevation-z8{
    margin: 0 3rem;
  }

  .btn-filter {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 3rem;
}

h1{
  margin: 0 0 1.5rem 3rem;

}

.ml-auto {
  margin-left: auto;
}




  td, th{
      width: 16%;
   
  }

  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }

  th {
     font-size: 1.1rem;
    font-weight: bold;
  }


  mat-label{
    width:100%;
  }

  /* .mat-form-field{
    display: block;
  } */

  .mat-fab-class{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon{
    width:24px;
    height: 24px;
  }